p {
  text-align: left;
  min-width: auto;
}

body header h1 {
  text-align: center;
}

figcaption {
  caption-side: bottom;
}

figure img {
  max-width: 800px;
}

footer#page-footer p {
  text-align: center;
  margin-top: 64px;
  color: deeppink;
}

