p {
  text-align: left;
  min-width: auto;
  font-family: 'Times New Roman', Times, serif;
}

body header h1 {
  text-align: center;
}

figure img {
  max-width: 800px;
  border: 10px solid black;
}

footer#page-footer {
  background-color: cornflowerblue;
  border-top: 200px;
}

footer#page-footer p {
  text-align: center;
}

figcaption {
 caption-side: bottom;
}