p {
  text-align: left;
  min-width: auto;
}

body header h1 {
  text-align: center;
}

figure img {
  max-width: 800px;
}

footer#page-footer {
  background-color: cornflowerblue;
  border-top: 200px;
}

footer#page-footer p {
  text-align: center;
}

figure img figcaption {
 caption-side: bottom;
 font-weight: bold;
 font-family: 'Times New Roman', Times, serif;
}