header h1 {
  
    font-family: Helvetica;  
}

header p {
  text-decoration-style: solid;
  text-decoration: underline;
}

article p {
  font-family: Times New Roman;
}

figure img {
  display: block;
  border: 5px solid black; 
  margin-left: auto;
  margin-right: auto;
    width: 40%;  
}

article p{ 
 text-align: center;
}

a{
  font-weight: bold;
  color: blueviolet;
}

ul li a{
  text-decoration: none;
}

.site-nav{
  background-color: palevioletred;
  list-style: none;
  padding: 0px;
  width: 200px;
border: 1px solid MediumVioletRed;
}

.site-nav .site-nav-item {
border-bottom: 1px solid MediumVioletRed;
padding: 5px;
}

#main-content {
 background-color: aqua;
}